.container {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(252, 132, 63);
}
 
.container div {
  background-color: #48814b;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 16px; 
  flex: 1 1 30%; 
  box-sizing: border-box;
  word-wrap: break-word; 
}
 
.container div img {
  max-width: 100%; 
  height: auto;
}