.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  background-color: #f6f8fa; /* page background */
}

header,
footer {
  background-color: #24292f; /*dark header */
  color: #ffffff;
  padding: 20px;
}

main {
  display: flex;
  flex-direction: row;
}

.main-content {
  flex: 2;
  background-color: #ffffff; /* content background */
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.main-content > div {
  background-color: #f6f8fa; /* card background */
  border: 1px solid #d0d7de; /* border */
  width: 350px;
  margin: 10px;
  text-align: center;
  line-height: 35px;
  font-size: 15px;
  border-radius: 6px;
  color: #24292f;
}

.sidebar {
  flex: 1;
  background-color: #ffffff; /* sidebar */
  border-left: 1px solid #d0d7de;
  padding: 20px;
  color: #24292f;
}

  }